* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('./imagens/fundo.webp');
    background-size: 1920px 950px;
    background-repeat: no-repeat
}

.logo {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15em;
    height: 15em;
    padding: 40px 60px;
}

.texto {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-size: 60px;
    padding: 130px 130px;
    font-family: 'Nunito', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.botao {
    bottom: 20px;
    left: 130px;
    padding: 15px 60px;
    background-color: #2970DB;
    color: white;
    border: none;
    border-radius: 70px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}

.botao:hover {
    background-color: #2970DB;
}

#fundoClaro {
    background-color: #f6f6e9;
    margin-top: 46%;
    padding: 60px;
}

.fundoBranco {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 800px;
    padding-left: 50px;
    border-radius: 50px;
    background-color: white;
    font-family: "Nunito";
    align-content: space-between;
}

.logo {
    position: absolute;
    top: 60px;
    left: 80px;
    height: 220px;
    width: 220px;
}

.tituloDestino {
    text-align: center;
    font-size: 60px;
    width: 800px;
    position: relative;
    display: block;
    margin-left: 10px;
    margin-top: 400px;

}

button,
input,
select {
    background-color: white;
    border: 5px solid #2970DB;
    border-radius: 40px;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 45px;
    margin: auto;
    padding: 10px;
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 50%;
}


.botaoOrcamento {
    font-size: 30px;
    font-family: "Nunito";
    padding: 15px;
}

.botaoOrcamento::placeholder {
    font-weight: bold;

}

.botaoLugar {
    font-size: 30px;
    font-family: "Nunito";
    width: 55%;
    color: #696969;

}

.botaoJornadas {
    font-size: 30px;
    background-color: #2970DB;
    color: white;
    font-family: "Nunito";
}

.dinheiro {
    height: 30px;
    width: 30px;
}

.lugar {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.calendario {
    height: 30px;
    width: 30px;
    padding: 5px;
}

.dica {
    color: #696969;
    display: block;
    font-size: 30px;
    position: relative;
    text-align: center;
    font-family: "Nunito";
    margin-top: 100px;
}

.lampada {
    height: 30px;
    width: 30px;
}

.paisagem {
    height: 370px;
    width: 600px;
    border-radius: 50px;
    margin: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.paisagem:hover {
    opacity: 0.5;
}

.esquerda {
    margin-top: -350px;
}