.body {
    background-image: url('./imagens/fundo.webp');
    background-size: 100%;
  }

  .logo {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 15em;
    height: 15em;
    padding: 40px 60px;
  }

  .texto {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: white;
    font-size: 60px;
    padding: 130px 130px;
    font-family: 'Nunito', sans-serif;
    text-shadow: black 0.1em 0.1em 0.2em;
  }

  .botao {
    bottom: 20px;
    left: 130px;
    padding: 15px 60px;
    background-color: #2970DB;
    color: white;
    border: none;
    border-radius: 70px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
  }

  .botao:hover {
    background-color: #2970DB;
  }