::-webkit-scrollbar {
    width: 10px;
    height: 1px;
    background-color: white;
}

/* Estiliza o "rastro" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #A6A6A6;
    border-radius: 20px;
}

/* Estiliza o canto da barra de rolagem */
::-webkit-scrollbar-corner {
    background-color: #F1F3F6;
}


* {
    scrollbar-color: #2970db #F1F3F6;
    scrollbar-width: thin;
}