html,
body {
  overflow-x: hidden;
}

body {
  background-color: #2970db;
}

.logo {
  position: absolute;
  top: 20px;
  left: 192px;
  height: 80px;
  width: 170px;
  background-color: #F1F3F6;
  border-radius: 100px;
}

.tituloJornada {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  color: white;
  font-family: "Nunito";
}

.inline {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-top: -12px;
}

.opcoes {
  width: 400px;
  background-color: #F1F3F6;
  padding: 20px;
  border-radius: 60px;
  height: 780px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  /* Adiciona a propriedade de transição para o efeito suave */
}

.opcoes:hover {
  transform: translateY(-10px) scale(1.05);
  /* Traduz e aumenta a escala do card ao passar o mouse */
}

.tituloBrisas {
  text-align: center;
  font-family: "Nunito";
  margin-top: -5px;
}

.tituloPousada {
  text-align: center;
  font-family: "Nunito";
  margin-top: -5px;
}

.tituloHotel {
  text-align: center;
  font-family: "Nunito";
  margin-top: -5px;
}

.imgBrisas {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: auto;
  background-color: white;
  display: inline-block;
}

.imgPousada {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: auto;
  background-color: white;
  display: inline-block;
}

.imgHotel {
  max-width: 100%;
  max-height: 100%;
  min-width: 0;
  min-height: auto;
  background-color: white;
  display: inline-block;
}

.infoBranco {
  background-color: white;
  padding-bottom: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.infoBrisas {
  font-family: "Nunito";
  text-align: justify;
  display: flex;
  justify-content: center;
  margin-top: 2px;
  margin: 15px 30px;
}

.tituloSuite {
  font-family: "Nunito";
  display: flex;
  margin-top: 5px;
  margin-left: 32px;
  margin: 15px 30px;
}

.cancelamento {
  font-family: "Nunito";
  display: flex;
  margin: 15px 15px;
  margin-top: -20px;
  margin-left: 32px;
  color: #008037;
  font-weight: bold;
}

.resta {
  font-family: "Nunito";
  display: flex;
  margin-top: -30px;
  margin-left: 32px;
  color: #ff1616;
  font-weight: bold;
}

.bordaDatas {
  width: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.bordaDatas > h2 {
  font-family: "Nunito";
  margin-bottom: 20px;
  margin-left: 13px;
  margin: 10px;
}

.bordaDatas > div {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin: 2px 0px; /* Ajustamos a margem vertical e removemos a margem horizontal */
}

.datasbrisas {
  width: 25px; /* Ajuste o tamanho das imagens conforme necessário */
  height: 25px;
  margin-left: 13px;
  margin-right:10px;
}

.textobrisas {
  font-family: 'Nunito';
  margin-right: 2px; /* Adicionamos uma margem direita para espaçamento entre imagem e texto */
}

.bordaDatasbrisas {
  background-color: white;
  padding: 20px;
  border-radius: 40px;
  margin-top: 20px;
  text-align: center;
  display: block;
  width: 300px;
  height: 100px;
}

.botao input {
  text-decoration: none;
  border: none;
  background-color: #2970db;
  font-family: "Nunito";
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  color: white;
  padding: 15px 40px;
  font-weight: bold;
}

.botao a {
  text-decoration: none;
}

input:hover {
  cursor: pointer;
  opacity: 0.8;
}

input:active {
  transform: scale(0.97);
}

/* loading */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-spinner img {
  width: 200px;
  height: 200px;
}

.loading-text {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  font-family: "Nunito";
}

.loading-text::after {
  content: '...';
  animation: loading-text-animation 1.2s infinite steps(3);
}

@keyframes loading-text-animation {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  66% {
    content: '...';
  }
}