.body {
    background-color: #F1F3F6;
    height: 850px;
    border-radius: 100px;
    width: 1700px;
    margin: -15px 0px 0px 80px;
}

/* ============================CABECALHO================================= */

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 80px 0px 0px 110px;
}

.detalhes {
    font-family: "Nunito";
    margin: 0px 30px;
    font-size: 25px;
}

.horarioLimite {
    font-family: "Nunito";
    background-color: #2970DB;
    color: white;
}

.icon-background {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
}

.icon-background i {
    line-height: 80px;
    color: #2970DB;
}

/* =============================CARTAO NUMERO============================== */
.cartao {
    font-family: "Nunito";
    margin: -35px 0px 0px 125px;
    font-size: 35px;
    display: flex;
}

.numeroCartao {
    margin-bottom: 20px;
}

.inputNumero {
    font-family: "Nunito";
    border: none;
    cursor: pointer;
    margin: -10px 0px 0px 125px;
    width: 40%;
    height: 60px;
    border-radius: 70px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}

/* =============================CARTAO DATA DE EXPEDIÇÃO=================================== */
.data {
    font-family: "Nunito";
    margin: -10px 0px 0px 125px;
    font-size: 30px;
    display: flex;
}

.inputData {
    font-family: "Nunito";
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 125px;
    width: 20%;
    height: 60px;
    border-radius: 70px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}

.dataValidade {
    font-family: "Nunito";
}

/* =============================CARTAO CVV=============================================== */

.cvv {
    font-family: "Nunito";
    margin: -176px 0px 0px 520px;
    font-size: 30px;
    display: flex;
}

.inputCVV {
    font-family: "Nunito";
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 525px;
    width: 10%;
    height: 60px;
    border-radius: 70px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}

.codigoCVV {
    font-family: "Nunito";
}

/* ============================CARTAO NOME======================================= */
.nome {
    font-family: "Nunito";
    margin: 0px 0px 0px 130px;
    font-size: 30px;
    display: flex;
}

.inputNome {
    font-family: "Nunito";
    border: none;
    cursor: pointer;
    margin: 0px 0px 0px 130px;
    width: 30%;
    height: 60px;
    border-radius: 70px;
    background-color: white;
    text-align: center;
    font-size: 25px;
}

.nomeCartao {
    font-family: "Nunito";
}

/* ===============================CONFIRMAR==================================== */

.botao {
    color: white;
    border: none;
    font-size: 28px;
    font-family: "Nunito";
    display: inline-block;
    font-weight: bold;
    cursor: pointer;
    background-color: #2970DB;
    width: 700px;
    height: 60px;
    top: 50px;
    left: 130px;
    border-radius: 70px;
    position: relative;
    border: none;
    text-align: center;
    text-decoration: none;
}

/* ================================PAGANDO===================================== */
.fundoAzul2 {
    background-color: #2970DB;
    width: 25%;
    margin: -600px 0px 0px 1100px;
    height: 600px;
    border-radius: 25px;
}

.pagando {
    font-family: "Nunito";
    color: white;
    padding-top: 10px;
    padding-left: 60px;
    font-size: 30px;
}

.valor {
    font-family: "Nunito";
    font-size: 25px;
    margin-left: 100px;
    margin-top: -125px;
}

.fundoBrancoValor {
    background-color: white;
    width: 320px;
    height: 120px;
    border-radius: 20px;
    margin-left: 50px;
}

/* =================================DESCRICÃO============================== */
.hospedagem {
    font-family: "Nunito";
    color: white;
    padding-left: 65px;
    padding-top: 10px;
    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.check1 {
    height: 30px;
    margin-left: 10px;
}

.transporte {
    font-family: "Nunito";
    color: white;
    padding-left: 65px;
    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.check2 {
    height: 30px;
    margin-left: 10px;
}

.reembolso {
    font-family: "Nunito";
    color: white;
    padding-left: 65px;
    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
}

.check3 {
    height: 30px;
    margin-left: 10px;
}