button:hover {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    transform: scale(0.97);
}

.fundoCinza {
    background-color: #F1F3F6;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 30px;
}

.payment-form {
    display: none;
}

.logoELogin {
    display: flex;
    align-items: center;
    background-color: #F1F3F6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    width: 1890px;
    height: 90px;
    overflow: hidden;
    margin-bottom: 50px;
}

.logo {
    position: absolute;
    left: 167px;
    height: 220px;
    width: 220px;
    cursor: pointer;
}

.login {
    position: absolute;
    left: 150vh;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

h3 {
    cursor: pointer;
}

.entrarOuCadastrar {
    font-family: "Nunito";
    color: #2970DB;
    position: absolute;
    left: 156vh;
}

.entrarOuCadastrar a {
    text-decoration: none;
}

.entrarOuCadastrar a:visited {
    color: #2970DB;
}

.alterarDados {
    margin-left: 70px;
    margin-top: -40px;
}

.textoPerfil {
    font-size: 40px;
    font-family: 'Nunito';
    font-weight: bold;
}

.imgPessoa {
    height: 150px;
    width: 150px;
    margin-left: 0px;
    margin-bottom: 30px;
}

.imgBotaoAoLado {
    display: flex;
    align-items: center;
}

.selecionarFotos{
    margin-top: -3vh;
}

.botaoAlterarFoto {
    width: 220px;
    height: 35px;
    margin-left: 30px;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #2970DB;
}

.botoesMudarOpcoes.clicked {
    color: #2970DB;
}

.botaoRemoverFoto {
    width: 220px;
    height: 35px;
    margin-left: 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    background-color: #F1F3F6;
}

.botaoFormulario {
    width: 35vh;
    height: 3.5vh;
    margin-left: 25vh;
    margin-top: 2vh;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #2970DB;
}

.alterarDadosEsquerda{
    display: flex;
    flex-direction: column;
}

.alterarDadosDireita{
    display: flex;
    flex-direction: column;
    margin-left: 50vh;
    margin-top: -41.2vh;
}

.iconeLapis {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-left: 5px;
    align-self: center;
}

.botoesAlterarDados {
    background-color: #F1F3F6;
    width: 280px;
    height: 35px;
    align-self: center;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    text-align: center;
    opacity: 0.6;
    pointer-events: none;
}

/* --------CAMPO CEP---------- */
.form-group {
    margin-bottom: 20px;
    margin-left: 50vh;
    
}

/* label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
} */

input[type="email"],
input[type="date"],
input[type="tel"],
input[type="text"],
input[type="password"] {
    width: 350px;
    text-align: center;
    font-weight: bold;
    font-family: 'Nunito';
    cursor: pointer;
}

/* ---------------------FIM DO CAMPO CEP---------------------- */

/* =====================CAMPO HISTORICO=================== */
.historico {
    margin-left: 70px;
    margin-top: -40px;
    max-height: 750px;
    overflow: auto;
    border: none;
    padding: 10px;
}

.container {
    width: 1200px;
    padding: 20px;
}

.container2 {
    width: 1200px;
    height: 660px; /* Defina uma altura adequada para a div */
    padding: 20px;
}

.historicoSalvador {
    margin-left: 770px;
    margin-top: 40px;
}

.fundoCinzaHistorico {
    background: #F1F3F6;
    border-radius: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    margin-bottom: 20px;
    width: 650px;
}

.imgSalvador {
    height: 120px;
    width: 300px;
    border-radius: 50px;
}

.divImagem {
    display: inline-block;
    vertical-align: middle;
}

.divTexto {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.textoLugar {
    margin-top: -10px;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
}

.textoData {
    font-family: 'Nunito';
    font-weight: bold;
    opacity: 0.6;
}

.botaoDetalhesViagem {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #2970DB;
}

/* ==========CAMPO SUPORTE========= */
.Suporte {
    margin-left: 70px;
    margin-top: -40px;
}

.textoEyre {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 27px;
    opacity: 0.6;
    margin-top: 80px;
}

.dadosEyre {
    font-family: 'Nunito';
    font-size: 22px;
    opacity: 0.7;
    margin-top: 30px;
}

.botaoAtendimento {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 60px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #2970DB;
    margin-top: 40px;
}

.modalChatBot-background {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

.modalChatBot-content {
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin: 50vh 145vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 40vh;
    max-width: 400vh;
    width: 40vh;
    height: 50vh;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    text-align: end;
    line-height: 20px;
}

.chat-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 2vh;
}

.chat-style {
    border: none;
    cursor: pointer;
    width: 20vh;
    height: 3vh;
    font-family: 'Nunito';
    font-size: 15px;
    border-radius: 30px;
}

.chat-button {
    flex-basis: calc(50% - 5px);
}

.user-input {
    display: flex;
    align-items: center;
    gap: 1vh;
    justify-content: space-between;
}

.input-mensage {
    flex: 1;
    cursor: pointer;
    border: none;
    background-color: #e8e8e8;
    border-radius: 30px;
}

.send-button {
    border: none;
    cursor: pointer;
    background-color: #fff;
    color: #1877F2;
    height: 2vh;
}

.close-button {
    background-color: #fff;
    color: #8a8686;
    border: none;
    margin: auto 13vh;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Nunito';
    font-size: 2vh;
}

.tamanhoSeta {
    margin-top: 15px;
    font-size: 50px;
}

.fundoCinzaSuporte {
    background: #F1F3F6;
    border-radius: 30px;
    width: 58%;
    height: 650px;
    margin-left: 360px;
    margin-top: -30vh;
    position: relative;
    overflow-x: hidden;
    max-width: 65%;
}

.tituloFAQ {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito';
    text-align: left;
    padding-left: 9%;
    padding-top: 5%;
}

.pergunta1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 3vh;
    margin-left: 3vh;
    gap: 2vh;
}

.perguntaEyre1 {
    font-family: "Nunito";
    font-size: 20px;
    font-weight: bold;
    margin-top: -0.3vh;
}

.linha-cinza {
    border-bottom: 3px solid;
    /* Define a linha cinza de 1px de espessura */
    width: 87%;
    height: 0;
    color: #737373;
    border-radius: 10px;
    margin-left: 2.5vh;
    margin-top: 2.5vh;
}

.pergunta {
    margin-bottom: 30px;
}

.posicaoBotao {
    margin-left: 42vh;
    margin-top: -5vh;
}

.botao-mostrar {
    cursor: pointer;
    height: 25px;
    width: 25px;
}

.ponto {
    width: 20px;
    height: 20px;
}

.resposta1 {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 1.5vh;
    max-width: 36vh;
}

.resposta {
    display: none;
    font-family: "Nunito";
    font-size: 15px;
}

#resposta6 {
    display: none;
    font-family: "Nunito";
    font-size: 15px;
    padding-bottom: 3vh;
}

.aoLado {
    display: flex;
    align-items: center;
}

/* .teste {
    display: block;
} */

.teste2 {
    display: flex;
}

.notificacoes {
    margin-left: 70px;
    margin-top: -40px;
}

.fundoCinzaNotificacoes {
    background-color: #F1F3F6;
    border-radius: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -35px;
    margin-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
}

.textoNotificacao {
    font-size: 18px;
    font-family: 'Nunito';
    font-weight: bold;
}

.imgCerto {
    position: relative;
    /* width: 300px; */
    /* Defina a largura da div como desejar */
    /* height: 200px; */
    /* Defina a altura da div como desejar */
    /* border: 1px solid #ccc; */
}

.imagensNotificacao {
    height: 60px;
    width: 60px;
    border-radius: 50px;
}

.termosCondicoes {
    margin-left: 70px;
    margin-top: -40px;
}

.modal {
    display: none;
    position: fixed;
    /* border-radius: 50px; */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /* Garante que o modal estará sempre acima do restante da página */
}

.modalDois {
    width: 80%;
    height: 60%;
    padding: 20px;
    background-color: #fff;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 50px;
    left: 10%;
    top: 15%;
    overflow: auto;
}

.close-modal {
    background-color: #2970DB;
    color: #fff;
    font-family: 'Nunito';
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    /* float: right; */
}

.close-modal:hover {
    background-color: #fff;
    color: #2970DB;
}

.tituloTexto {
    text-align: center;
    align-items: center;
    font-family: "Nunito";
    font-size: 45px;
    font-weight: bold;
}

.linha-azul {
    border-bottom: 5px solid;
    /* Define a linha cinza de 1px de espessura */
    width: 45%;
    height: 0;
    color: #2970DB;
    margin-left: 27%;
    border-radius: 10px;
    margin-top: -20px;
}

.textoCompleto {
    font-family: "Nunito";
    margin-top: 20px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
}

.botaoPoliticaDePrivacidade {
    background-color: #2970DB;
    font-family: 'Nunito';
    font-weight: bold;
    text-align: justify;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 80px;
    padding-right: 80px;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-bottom: 30px;
}

.imgPoliticaPrivacidade {
    height: 60px;
    width: 60px;
    margin-right: 15px;
}

/* ===============================SALVADOR DETALHES======================== */

.cinzaCima {
    display: flex;
    align-items: center;
    background-color: #F1F3F6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    justify-content: center;
    width: 1903px;
    height: 90px;
    overflow: hidden;
    margin-bottom: 50px;
}

.boneco {
    position: absolute;
    left: 150vh;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.ola {
    font-family: "Nunito";
    color: #2970DB;
    position: absolute;
    left: 156vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.teste2 {
    display: flex;
}

.divBotao {
    display: inline-block;
    width: 20%;
    margin-left: 11vh;
}

.botaoEmbaixo {
    background-color: #1877F2;
    padding-top: 35px;
    padding-left: 15px;
    border-radius: 40px;
    height: 720px;
}

.botoesMudarOpcoes {
    width: 350px;
    height: 50px;
    align-self: center;
    border-radius: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconeBotoes {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 30px;
}

.botoesMudarOpcoesV {
    width: 250px;
    height: 50px;
    align-self: center;
    border-radius: 30px;
    margin-top: 31vh;
    margin-left: 5vh;
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-family: 'Nunito';
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.iconeBotoesV {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    margin-left: 8vh;
}

/* ----------------------DETALHES DE SALVADOR ---------------*/

/* -------------------PRIMEIRA PARTE DETALHES SALVADOR---------- */
.tituloSalvador {
    font-family: 'Nunito';
    font-size: 50px;
    margin-top: -5vh;
    /* position: fixed; */
    margin-left: -70vh;
}

.fundoCinzaHistoricoDois {
    background-color: #F1F3F6;
    width: 120vh;
    height: 600px;
    border-radius: 20px;
    /* position: fixed; */
    margin-top: 3vh;
    margin-left: -70vh;
}

.linha {
    width: 2px;
    /* Largura da linha */
    height: 94%;
    /* Altura da linha */
    background-color: transparent;
    /* Cor de fundo transparente */
    border-left: 1px dashed #F1F3F6;
    /* Linha pontilhada esquerda */
    border-width: 3px;
    position: absolute;
    top: 3%;
    left: 50%;
    /* Posição no meio do elemento */
    transform: translateX(-50%);
    /* Centraliza a linha */
}

.fundoBrancoHistoricoDois {
    background-color: #fff;
    width: 110vh;
    height: 500px;
    margin-left: 5vh;
    border-radius: 20px;
    transform: translateY(5vh);
}

.fundoBrancoHistoricoDois::before {
    content: "";
    /* position: absolute; */
    width: 30px;
    height: 30px;
    background-color: #F1F3F6;
    /* Cor da bolinha */
    border-radius: 50%;
    /* Transforma o elemento em um círculo */
    top: 0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fundoBrancoHistoricoDois::after {
    content: "";
    /* position: absolute; */
    width: 30px;
    height: 30px;
    background-color: #F1F3F6;
    /* Cor da bolinha */
    border-radius: 50%;
    /* Transforma o elemento em um círculo */
    top: 99.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tituloHospedagem {
    /* position: fixed; */
    margin-left: 3vh;
    transform: translateY(1vh);
}

.hospedagem {
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: bold;
}

.localImg {
    /* position: fixed; */
    margin-top: 7vh;
    margin-left: 3vh;
}

.imgPraia {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    transform: translateY(-5vh);
}

.tituloArraial {
    /* position: fixed; */
    transform: translateY(-5vh);
    margin-left: 3vh;
}

.arraialSubTitulo {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: bold;
}

.suite {
    /* position: fixed; */
    display: flex;
    transform: translateY(-8vh);
    margin-left: 3vh;
    gap: 15px;
    align-items: center;
}

.cama {
    width: 30px;
    height: 30px;
}

.palavraSuite {
    font-family: "Nunito";
    font-size: 19px;
}

.checkTotal {
    /* position: fixed; */
    display: flex;
    transform: translateY(-10vh);
    margin-left: 3vh;
    gap: 30px;
}

.dataCheck {
    font-family: "Nunito";
    font-size: 15px;
}

.dataCheck2 {
    font-family: "Nunito";
    font-size: 15px;
}

.contato {
    display: flex;
    /* position: fixed; */
    transform: translateY(-12.5vh);
    margin-left: 3vh;
    gap: 18.5vh;
}

.palavraContato {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
}

.palavraEndereço {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
}

.email2 {
    display: flex;
    /* position: fixed; */
    transform: translateY(-13.5vh);
    margin-left: 3vh;
    gap: 1vh;
}

.logoSms {
    width: 25px;
    height: 25px;
}

.emailCompleto {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.1vh;
}

.telefone {
    display: flex;
    /* position: fixed; */
    transform: translateY(-13.5vh);
    margin-left: 3vh;
    gap: 1vh;
}

.logoTelefone {
    width: 25px;
    height: 25px;
}

.telefoneCompleto {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.1vh;
}

.endereço {
    /* position: fixed; */
    transform: translateY(-23vh);
    margin-left: 28.5vh;
}

.endereçoCompleto {
    font-family: 'Nunito';
    font-size: 16px;
}

/* ---------------SEGUNDA PARTE DETALHES SALVADOR----------------- */
.tituloTransporte {
    display: flex;
    /* position: fixed; */
    transform: translateY(-75vh);
    margin-left: 60vh;
    gap: 30px;
}

.transporte {
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: bold;
}

.buserLogo {
    width: 35px;
    height: 35px;
    transform: translateY(4vh);
}

.horario {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 70px;
    transform: translateY(-78vh);
    margin-left: 60vh;
}

.horario1 {
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: bold;

}

.horario2 {
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: bold;
}

.pontoLinha {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 10px;
    transform: translateY(-94vh);
    margin-left: 65vh;
}

.circulo {
    width: 20px;
    height: 20px;
}

.linha2 {
    border-left: 2px solid #545454;
    /* Linha preta de 1px de espessura */
    height: 19.7%;
    transform: translateY(-106.2vh);
    margin-left: 66vh;
}

.marcacao {
    width: 20px;
    height: 20px;
    margin-top: 9vh;
}

.embarque {
    /* position: fixed; */
    gap: 82px;
    transform: translateY(-120.5vh);
    margin-left: 69vh;
}

.embarqueTitulo {
    font-family: "Nunito";
    font-size: 18px;
}

.descricaoEmbarque {
    transform: translateY(-121vh);
    margin-left: 69vh;
}

.embarqueDescricao {
    font-family: "Nunito";
    font-size: 18px;
    opacity: 0.7;
}

.desembarque {
    /* position: fixed; */
    gap: 82px;
    transform: translateY(-122vh);
    margin-left: 69vh;
}

.desembarqueTitulo {
    font-family: "Nunito";
    font-size: 18px;
}

.descricaoDesembarque {
    transform: translateY(-123vh);
    margin-left: 69vh;
}

.desembarqueDescricao {
    font-family: "Nunito";
    font-size: 18px;
    opacity: 0.7;
}

.aviso {
    display: flex;
    /* position: fixed; */
    transform: translateY(-121vh);
    margin-left: 60vh;
    gap: 2vh;
}

.exclamacao {
    width: 25x;
    height: 25px;
}

.avisoVoo {
    font-family: 'Nunito';
    font-size: 16px;
    transform: translateY(-2vh);
}

.poltrona {
    display: flex;
    /* position: fixed; */
    margin-left: 60vh;
    transform: translateY(-123vh);
}

.poltronaTitulo {
    font-family: 'Nunito';
    font-size: 18px;
}

.leito {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    transform: translateY(-123vh);
    margin-left: 60vh;
    gap: 10px;
}

.logoLeito {
    width: 30px;
    height: 30px;
}

.semiLeito {
    font-family: 'Nunito';
    font-size: 18px;
    margin-top: 0vh;
}

.logoELogin2 {
    background-color: #F1F3F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 1890px;
    height: 90px;
}

/* ------------------FIM DO DETALHES DE SALVADOR-------------------- */

/* ----------------------DETALHES DE ARRAIAL DO CABO ---------------*/

/* -------------------PRIMEIRA PARTE DETALHES ARRAIAL DO CABO---------- */
.tituloArraialDoCabo {
    font-family: 'Nunito';
    font-size: 50px;
    margin-top: 0vh;
    /* position: fixed; */
    margin-left: 15vh;
}

.fundoCinzaHistoricoDoisC {
    background-color: #F1F3F6;
    width: 120vh;
    height: 600px;
    border-radius: 20px;
    /* position: fixed; */
    margin-top: 3vh;
    margin-left: 15vh;
}

.linhaC {
    width: 2px;
    /* Largura da linha */
    height: 94%;
    /* Altura da linha */
    background-color: transparent;
    /* Cor de fundo transparente */
    border-left: 1px dashed #F1F3F6;
    /* Linha pontilhada esquerda */
    border-width: 3px;
    position: absolute;
    top: 3%;
    left: 50%;
    /* Posição no meio do elemento */
    transform: translateX(-50%);
    /* Centraliza a linha */
}

.fundoBrancoHistoricoDoisC {
    background-color: #fff;
    width: 110vh;
    height: 500px;
    margin-left: 5vh;
    border-radius: 20px;
    transform: translateY(5vh);
}

.fundoBrancoHistoricoDoisC::before {
    content: "";
    /* position: absolute; */
    width: 30px;
    height: 30px;
    background-color: #F1F3F6;
    /* Cor da bolinha */
    border-radius: 50%;
    /* Transforma o elemento em um círculo */
    top: 0.2%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fundoBrancoHistoricoDoisC::after {
    content: "";
    /* position: absolute; */
    width: 30px;
    height: 30px;
    background-color: #F1F3F6;
    /* Cor da bolinha */
    border-radius: 50%;
    /* Transforma o elemento em um círculo */
    top: 99.8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tituloHospedagemC {
    /* position: fixed; */
    margin-left: 3vh;
    transform: translateY(1vh);
}

.hospedagemC {
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: bold;
}

.localImgC {
    /* position: fixed; */
    margin-top: 7vh;
    margin-left: 3vh;
}

.imgPraiaC {
    width: 300px;
    height: 150px;
    border-radius: 20px;
    transform: translateY(-5vh);
}

.tituloArraialC {
    /* position: fixed; */
    transform: translateY(-5vh);
    margin-left: 3vh;
}

.arraialSubTituloC {
    font-family: 'Nunito';
    font-size: 20px;
    font-weight: bold;
}

.suiteC {
    /* position: fixed; */
    display: flex;
    transform: translateY(-8vh);
    margin-left: 3vh;
    gap: 15px;
    align-items: center;
}

.camaC {
    width: 30px;
    height: 30px;
}

.palavraSuiteC {
    font-family: "Nunito";
    font-size: 19px;
}

.checkTotalC {
    /* position: fixed; */
    display: flex;
    transform: translateY(-10vh);
    margin-left: 3vh;
    gap: 30px;
}

.dataCheckC {
    font-family: "Nunito";
    font-size: 15px;
}

.dataCheck2C {
    font-family: "Nunito";
    font-size: 15px;
}

.contatoC {
    display: flex;
    /* position: fixed; */
    transform: translateY(-12.5vh);
    margin-left: 3vh;
    gap: 18.5vh;
}

.palavraContatoC {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
}

.palavraEndereçoC {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
}

.email2C {
    display: flex;
    /* position: fixed; */
    transform: translateY(-13.5vh);
    margin-left: 3vh;
    gap: 1vh;
}

.logoSmsC {
    width: 25px;
    height: 25px;
}

.emailCompletoC {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.1vh;
}

.telefoneC {
    display: flex;
    /* position: fixed; */
    transform: translateY(-13.5vh);
    margin-left: 3vh;
    gap: 1vh;
}

.logoTelefoneC {
    width: 25px;
    height: 25px;
}

.telefoneCompletoC {
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.1vh;
}

.endereçoC {
    /* position: fixed; */
    transform: translateY(-23vh);
    margin-left: 28.5vh;
}

.endereçoCompletoC {
    font-family: 'Nunito';
    font-size: 16px;
}

/* ---------------SEGUNDA PARTE DETALHES ARRAIAL DO CABO----------------- */
.tituloTransporteC {
    display: flex;
    /* position: fixed; */
    transform: translateY(-75vh);
    margin-left: 60vh;
    gap: 20px;
}

.transporteC {
    font-family: 'Nunito';
    font-size: 32px;
    font-weight: bold;
}

.golLogoC {
    width: 85px;
    height: 85px;
    transform: translateY(1vh);
}

.horarioC {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 70px;
    transform: translateY(-78vh);
    margin-left: 60vh;
}

.horario1C {
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: bold;

}

.horario2C {
    font-family: 'Nunito';
    font-size: 15px;
    font-weight: bold;
}

.pontoLinhaC {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    gap: 10px;
    transform: translateY(-94vh);
    margin-left: 65vh;
}

.circuloC {
    width: 20px;
    height: 20px;
}

.linha2C {
    border-left: 2px solid #545454;
    /* Linha preta de 1px de espessura */
    height: 19.7%;
    transform: translateY(-106.2vh);
    margin-left: 66vh;
}

.marcacaoC {
    width: 20px;
    height: 20px;
    margin-top: 9vh;
}

.embarqueC {
    /* position: fixed; */
    gap: 82px;
    transform: translateY(-120.5vh);
    margin-left: 69vh;
}

.embarqueTituloC {
    font-family: "Nunito";
    font-size: 18px;
}

.descricaoEmbarqueC {
    transform: translateY(-121vh);
    margin-left: 69vh;
}

.embarqueDescricaoC {
    font-family: "Nunito";
    font-size: 18px;
    opacity: 0.7;
}

.desembarqueC {
    /* position: fixed; */
    gap: 82px;
    transform: translateY(-122vh);
    margin-left: 69vh;
}

.desembarqueTituloC {
    font-family: "Nunito";
    font-size: 18px;
}

.descricaoDesembarqueC {
    transform: translateY(-123vh);
    margin-left: 69vh;
}

.desembarqueDescricaoC {
    font-family: "Nunito";
    font-size: 18px;
    opacity: 0.7;
}

.avisoC {
    display: flex;
    /* position: fixed; */
    transform: translateY(-121vh);
    margin-left: 60vh;
    gap: 2vh;
}

.exclamacaoC {
    width: 25x;
    height: 25px;
}

.avisoVooC {
    font-family: 'Nunito';
    font-size: 16px;
    transform: translateY(-2vh);
}

.poltronaC {
    display: flex;
    /* position: fixed; */
    margin-left: 60vh;
    transform: translateY(-123vh);
}

.poltronaTituloC {
    font-family: 'Nunito';
    font-size: 18px;
}

.leitoC {
    display: flex;
    flex-direction: row;
    /* position: fixed; */
    transform: translateY(-123vh);
    margin-left: 60vh;
    gap: 10px;
}

.logoLeitoC {
    width: 30px;
    height: 30px;
}

.semiLeitoC {
    font-family: 'Nunito';
    font-size: 18px;
    margin-top: 0vh;
}

.logoELogin2C {
    background-color: #F1F3F6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 1890px;
    height: 90px;
}

/* ------------------FIM DO DETALHES DE ARRAIAL DO CABO */

/* ----------------SCROLL-------------------- */

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
    height: 1px;
    background-color: white;
}

/* Estiliza o "rastro" da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #A6A6A6;
    border-radius: 20px;
}

/* Estiliza o canto da barra de rolagem */
::-webkit-scrollbar-corner {
    background-color: #F1F3F6;
}

/* .mCSB_scrollTools {
    margin: 1px -3px 1px 0;
    opacity: 0;
  }
  
  .mCSB_inside > .mCSB_container {
    margin-right: 0px;
    padding: 0 10px;
  }
  
  .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: rgba(0, 0, 0, 0.5) !important;
  } */
/* ------------------FIM DO SCROLL--------------- */

/* -----------------RODAPE------------------ */
.fundoClaroRodape {
    background-color: #F1F3F6;
    border-radius: 30px;
    width: 82%;
    margin: 0 auto;
    height: 300px;
}

.inlineInfoAdicionais {
    display: flex;
    width: 100vw;
    margin-top: 150px;
    padding: 30px;
    margin-left: 50px;
    overflow-x: auto;
}

.inlineInfoAdicionais nav {
    margin-right: 50px;
}

.inlineInfoAdicionais nav ul {
    list-style-type: none;
}

.inlineInfoAdicionais nav ul li {
    padding: 3px;
    font-size: 20px;
    font-family: "Nunito";
}

.imgLogoEyreRodape {
    width: 450px;
    height: 450px;
    position: relative;
    margin-left: 250px;
    margin-top: -10vh;
}

.formasPagamento {
    margin-top: 40px;
    font-family: "Nunito";
    text-align: center;
}

.centralizarImgBandeirasCartao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.imgBandeirasCartao {
    max-width: 25%;

}

.linhaHorizontal {
    stroke-width: 1px;
    fill: none;
    stroke-linecap: round;
    width: 97.188em;
    margin: 27px;
    margin-left: 173px;
}

.alinharEmail {
    position: relative;
    left: 94em;
}

.email {
    font-family: "Nunito";
    opacity: 0.5;
    margin-top: 17vh;
    margin-left: -0.5vh;
}

.conecteConosco {
    font-family: "Nunito";
    text-align: center;
    margin-top: -15vh;
}

.inlineRedesSociais {
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.inlineRedesSociais img {
    display: inline-block;
    width: 4%;
    height: auto;
    margin: 10px
}

.alinharEndereco {
    padding: 50px;
}

.endereco {
    font-family: "Nunito";
    text-align: center;
    opacity: 0.5;
    margin-top: -1vh;
}
/* -----------------FIM DO RODAPE------------------ */